<div class="max-w-[70rem] lg:pt-10 mx-auto mt-[1rem]">
  <div class="flex flex-col-reverse lg:flex-row mx-auto">
    <div
      class="md:w-[70%] xl:w-[85%] xl:pr-[8rem] lg:pl-[2rem] text-left mx-auto lg:pt-[10rem] text-white animate-fadeInUp"
    >
      <h1
        id="heading-1"
        class="text-lg lg:text-4xl px-[2rem] lg:px-[3rem] md:px-0 uppercase leading-[1.1] font-bold"
      >
        Integrated still & motion design to create stunning and effective
        imaging for brands & businesses.
      </h1>
      <p
        id="paragraph-1"
        class="mt-5 px-[2rem] lg:px-[3rem] md:px-0 text-sm md:text-md animate-fadeInUpSlower"
      >
        Imagine Greater (IGR) is a talent-driven creative consultancy that
        creates effective strategies, stunning motion graphics, and memorable
        experiences to connect people to brands and organisations.
      </p>
    </div>
    <div
      class="flex md:relative lg:pt-0 lg:w-[30%] xl:w-[25%] md:top-[1rem] lg:top-[6rem] lg:right-[2rem] xl:right-[4rem] animate-fadeInUpSlower justify-center"
    >
      <img
        src="../../../assets/Hero Image_2.png"
        alt="statue"
        class="object-contain lg:scale-[2.5] xl:scale-[3.5]"
      />
    </div>
  </div>
</div>
