<div
  id="h-1"
  class="text-lg px-[2.5rem] md:px-0 mt-[2rem] md:mt-[8rem] text-center text-white"
>
  Let's create something amazing
</div>
<div class="uppercase my-[3rem] md:mt-[5rem] text-xl text-white">
  <div
    id="hhh"
    class="flex flex-col mx-auto md:flex-row items-center justify-center font-semibold space-y-5 md:space-y-0 md:space-x-10"
  >
    <div class="flex text-center">
      Brand Design<span class="font-normal hidden md:flex pl-10 text-[#F26422]"
        >|</span
      >
    </div>
    <div class="w-fit md:flex">
      Motion Graphic Design<span
        class="font-normal hidden md:flex pl-10 text-[#F26422]"
        >|</span
      >
    </div>
    <div class="w-fit">Strategy</div>
  </div>
  <div
    id="ppp"
    class="flex flex-col md:flex-row justify-center items-center font-semibold space-y-5 md:space-y-0 md:space-x-10 mt-3 md:mt-5"
  >
    <div class="w-fit md:flex">
      Digital<span class="font-normal hidden md:flex pl-10 text-[#F26422]"
        >|</span
      >
    </div>
    <div class="w-fit">On-Air Imaging</div>
  </div>

  <div class="mt-[5rem] md:mt-[8rem] text-center">
    <button
      class="uppercase text-[14px] text-[#F26422] bg-[#2B2B2B] px-10 py-3 rounded-full hover:scale-105 hover:text-white transition duration-300 ease-in-out"
      (click)="navigate()"
    >
      More Details
    </button>
  </div>
</div>
