<!-- Footer -->
<div class="mx-auto md:px-[3rem] text-white">
  <div
    class="flex flex-col pb-8 md:flex-row items-start md:px-0 mx-auto max-w-[70rem] text-2xl justify-between"
  >
    <div class="flex flex-col">
      <h2 class="text-[#F45D07] font-semibold uppercase mt-8">
        Imagine Greater
      </h2>
      <small class="flex text-sm mt-4"
        >Shop Our Range of Premium Quality Water</small
      >
      <div class="flex space-x-3 my-2 items-center">
        <a href="https://officewater.co/" target="_blank">
          <img
            class="h-8 mt-2"
            src="../../assets/OW_Favicon Black.svg"
            alt=""
          />
        </a>
        <a href="https://officewater.co/" target="_blank">
          <small class="uppercsase font-semibold text-sm mt-2"
            >OFFICE WATER</small
          ><span class="text-xs">&trade;</span>
        </a>
      </div>
      <small class="hidden md:flex text-xs mt-2"
        >&copy;2024. Imagine Greater</small
      >
    </div>
    <div
      class="flex flex-col text-gray-400 text-left md:flex-row mt-10 md:mt-20 md:pt-10 space-y-8 md:space-y-0 md:space-x-10"
    >
      <small class="text-sm md:pb-3 md:text-xs">Cookies Policy</small>
      <small class="text-sm md:pb-3 md:text-xs mt-2">Terms & Conditions</small>
      <small class="text-sm md:pb-3 md:text-xs mt-2">Privacy Policy</small>
    </div>
    <div class="md:hidden">
      <small class="text-xs mt-2">&copy;2024. Imagine Greater</small>
    </div>
  </div>
</div>
