<section class="main">
  <app-showcase></app-showcase>
  <!-- Floating button -->
  <!-- Disappear on scroll -->
  <div class="mx-auto text-center mb-6 mt-[2rem] lg:mt-[5rem]">
    <span
      class="inline-block animate-bounce rounded-full p-4 text-white border border-white text-sm"
    >
      <svg
        class="w-6 h-6 mx-auto"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 13l-7 7-7-7m14-8l-7 "
        />
      </svg>
    </span>
  </div>

  <app-solution></app-solution>
  <div class="mt-[8rem] main-bg">
    <div
      class="flex flex-col max-w-[45rem] text-white mx-auto items-center pt-8"
    >
      <div class="text-lg md:text-xl font-bold uppercase">
        Brands We've Worked With
      </div>
      <div class="mt-8 px-6 xl:px-0">
        <p class="text-sm md:text-md text-center">
          We have worked with great people. We are proud of the long-term
          relationships we have built with many of our clients. We look forward
          to continuing to serve them and further earning their trust for years
          to come.
        </p>
      </div>
    </div>
    <div
      class="logos-slide-wrapper mt-[6rem] mb-[8rem] overflow-hidden relative"
    >
      <!-- Remember to use Dynamically do this -->
      <div class="logos-slide flex items-center justify-around animate-scroll">
        <img class="w-30" src="../../assets/clients/Channel O_Logo.png" />
        <img class="w-30" src="../../assets/clients/Cotton_Logo.png" />
        <img class="w-30" src="../../assets/clients/Hennessy_logo.png" />
        <img class="w-30" src="../../assets/clients/Mitsubishi_Logo.png" />
        <img class="w-30" src="../../assets/clients/Mzansi Magic_logo.png" />
        <img class="w-30" src="../../assets/clients/PeachPay_logo.png" />
        <img class="w-20" src="../../assets/clients/PPC_Logo.png" />
        <img class="w-30" src="../../assets/clients/SANBS_Logo.png" />
        <img class="w-30" src="../../assets/clients/ShowmaxLogo.png" />
        <img class="w-[20rem]" src="../../assets/clients/Supabets_logo.svg" />
        <img class="w-30" src="../../assets/clients/Versofy Solar_logo.png" />
        <img class="w-30" src="../../assets/clients/AITF_Logo.png" />
        <img class="w-30" src="../../assets/clients/Vodacom_Logo.png" />
        <!-- Repeat the logos to create the infinite effect -->
        <img class="w-30" src="../../assets/clients/Channel O_Logo.png" />
        <img class="w-30" src="../../assets/clients/Cotton_Logo.png" />
        <img class="w-30" src="../../assets/clients/Hennessy_logo.png" />
        <img class="w-30" src="../../assets/clients/Mitsubishi_Logo.png" />
        <img class="w-30" src="../../assets/clients/Mzansi Magic_logo.png" />
        <img class="w-30" src="../../assets/clients/PeachPay_logo.png" />
        <img class="w-20" src="../../assets/clients/PPC_Logo.png" />
        <img class="w-30" src="../../assets/clients/SANBS_Logo.png" />
        <img class="w-30" src="../../assets/clients/ShowmaxLogo.png" />
        <img class="w-[20rem]" src="../../assets/clients/Supabets_logo.svg" />
        <img class="w-30" src="../../assets/clients/Versofy Solar_logo.png" />
        <img class="w-30" src="../../assets/clients/AITF_Logo.png" />
        <img class="w-30" src="../../assets/clients/Vodacom_Logo.png" />
        <!-- Repeat the logos to create the infinite effect -->
        <img class="w-30" src="../../assets/clients/Channel O_Logo.png" />
        <img class="w-30" src="../../assets/clients/Cotton_Logo.png" />
        <img class="w-30" src="../../assets/clients/Hennessy_logo.png" />
        <img class="w-30" src="../../assets/clients/Mitsubishi_Logo.png" />
        <img class="w-30" src="../../assets/clients/Mzansi Magic_logo.png" />
        <img class="w-30" src="../../assets/clients/PeachPay_logo.png" />
        <img class="w-20" src="../../assets/clients/PPC_Logo.png" />
        <img class="w-30" src="../../assets/clients/SANBS_Logo.png" />
        <img class="w-30" src="../../assets/clients/ShowmaxLogo.png" />
        <img class="w-[20rem]" src="../../assets/clients/Supabets_logo.svg" />
        <img class="w-30" src="../../assets/clients/Versofy Solar_logo.png" />
        <img class="w-30" src="../../assets/clients/AITF_Logo.png" />
        <img class="w-30" src="../../assets/clients/Vodacom_Logo.png" />
        <!-- Repeat the logos to create the infinite effect -->
        <img class="w-30" src="../../assets/clients/Channel O_Logo.png" />
        <img class="w-30" src="../../assets/clients/Cotton_Logo.png" />
        <img class="w-30" src="../../assets/clients/Hennessy_logo.png" />
        <img class="w-30" src="../../assets/clients/Mitsubishi_Logo.png" />
        <img class="w-30" src="../../assets/clients/Mzansi Magic_logo.png" />
        <img class="w-30" src="../../assets/clients/PeachPay_logo.png" />
        <img class="w-20" src="../../assets/clients/PPC_Logo.png" />
        <img class="w-30" src="../../assets/clients/SANBS_Logo.png" />
        <img class="w-30" src="../../assets/clients/ShowmaxLogo.png" />
        <img class="w-[20rem]" src="../../assets/clients/Supabets_logo.svg" />
        <img class="w-30" src="../../assets/clients/Versofy Solar_logo.png" />
        <img class="w-30" src="../../assets/clients/AITF_Logo.png" />
        <img class="w-30" src="../../assets/clients/Vodacom_Logo.png" />
      </div>
    </div>
  </div>
  <app-project-carousel></app-project-carousel>
  <div class="px-[3rem] lg:px-0">
    <div class="my-10">
      <app-get-in-touch></app-get-in-touch>
    </div>
    <app-footer></app-footer>
  </div>
</section>
