<div class="max-w-[76rem] mx-auto">
  <div class="flex flex-col justify-center px-[3rem] items-center mx-auto">
    <div id="ccc" class="animate-fadeInUpSlower">
      <img id="dove" src="../../assets/dove.png" alt="a dove" />
    </div>
    <h2
      id="heading"
      class="uppercase font-bold relative bottom-[2rem] text-white text-xl md:text-3xl lg:text-4xl max-w-6xl text-center animate-fadeInUpFaster"
    >
      The Ideal Partner for End-to-End Motion Design Solutions
    </h2>

    <div
      id="about-text-main"
      class="flex flex-col justify-center mx-auto items-center lg:items-baseline lg:flex-row space-y-8 lg:space-y-0 mt-[1rem] animate-fadeInUpSlower text-white text-sm md:text-md w-[100%]"
    >
      <div id="about-text-1" class="max-w-lg mx-3">
        At our core, we exist to fi nd opportunity in every challenge - not just
        to think, but to make. We are more than just a motion design studio or
        post agency, but a dynamic team of industry experts dedicated to story
        through engaging and functional imaging. We are a full-service creative
        consultancy.
      </div>
      <div id="about-text-2" class="max-w-lg mx-3">
        We strategise, we ideate, we design, we make. We go wherever our pursuit
        of originality takes us. IGR is an opportunity to create and inspire.
        Whether for digital or on-air pursuits. Our team becomes an extension of
        yours, purpose-built from the ground up to meet any challenge.
      </div>
    </div>

    <!-- Person -->
    <div id="person">
      <img src="../../assets/man.png" alt="a man" />
    </div>

    <h2
      id="h2"
      class="uppercase font-bold max-w-6xl md:px-0 mt-3 md:mt-0 relative bottom-[4rem] text-white text-xl md:text-2xl text-center"
    >
      Streamlined processes and cutting-edge technology, we deliver projects
      with speed and efficiency, without sacrificing quality.
    </h2>

    <div class="max-w-5xl w-[100%]">
      <div
        class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 justify-between text-white"
      >
        <span
          id="s1"
          class="flex flex-col md:flex-row md:space-x-3 space-y-2 md:space-y-0 items-center"
        >
          <span class="text-4xl md:text-md md:font-bold">95%</span>
          <span
            class="flex flex-col items-center md:items-start space-y-2 md:space-y-0 font-semibold text-xs uppercase"
          >
            <span>Repeat</span>
            <span>business rate</span>
          </span>
        </span>

        <span
          id="s2"
          class="flex flex-col md:flex-row md:space-x-3 space-y-2 md:space-y-0 items-center"
        >
          <span class="text-4xl md:text-md md:font-bold">100%</span>
          <span
            class="flex flex-col items-center md:items-start font-semibold space-y-2 md:space-y-0 text-xs uppercase"
          >
            <span>unique and customised</span>
            <span>portfolio of work from</span>
            <span>our tailored approach</span>
          </span>
        </span>

        <span
          id="s3"
          class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-3 items-center"
        >
          <span class="text-4xl md:text-md md:font-bold">10 YRS</span>
          <span
            class="flex flex-col items-center md:items-start font-semibold space-y-2 md:space-y-0 text-xs uppercase"
          >
            <span>We have come a long way</span>
            <span>from a 2-people company</span>
          </span>
        </span>
      </div>
    </div>

    <div class="max-w-3xl px-8 md:px-0 mt-[6rem]">
      <div class="text-center text-sm md:text-md text-white" id="v1">
        Simply, we produce the best creative & strategy possible | deliver it on
        time & professionally | give you more than you expect | make you look
        good.
      </div>
    </div>
  </div>

  <div class="px-[3rem] lg:px-0">
    <div class="py-8">
      <app-get-in-touch></app-get-in-touch>
    </div>
    <app-footer></app-footer>
  </div>
</div>
