<div
  class="text-lg lg:text-4xl my-[2rem] md:my-[4rem] text-center text-white uppercase font-bold"
>
  Some of our work
</div>
<section>
  <div class="max-w-[60rem] mx-auto px-[1rem]">
    <!-- 2 -->
    <div class="flex items-center flex-col mx-auto md:flex-row">
      <div class="min-w-[14rem] min-h-[14rem] p-3">
        <a
          href="https://www.behance.net/gallery/204868873/IGR-Showreel-2024"
          target="_blank"
        >
          <img
            src="../../assets/projects/IGR Showreel.png"
            class="object-cover gray-scale"
            alt="img 1"
          />
        </a>
      </div>
      <div class="min-w-[14rem] min-h-[14rem] p-3">
        <a
          href="https://www.behance.net/gallery/205386857/Channel-O-Youth-Over-Everything-Campaign-2024"
          target="_blank"
        >
          <img
            src="../../assets/projects/Channel O Youth Over Everything.png"
            class="gray-scale"
            alt="img 1"
          />
        </a>
      </div>
    </div>
    <div class="flex items-center flex-col mx-auto md:flex-row">
      <div class="box-content min-w-[14rem] min-h-[14rem] p-3 overflow-hidden">
        <a
          href="https://www.behance.net/gallery/204845889/Born-Into-Fame-On-Air-Toolkit"
          target="_blank"
        >
          <img
            src="../../assets/projects/Born Into Fame Square.png"
            class="gray-scale object-fit"
            alt="img 1"
          />
        </a>
      </div>
      <div class="min-w-[14rem] min-h-[14rem] p-3">
        <a
          href="https://www.behance.net/gallery/135090095/SupaTV-Channel-Identity"
          target="_blank"
        >
          <img
            src="../../assets/projects/Superbets.png"
            class="object-cover gray-scale"
            alt="img 1"
          />
        </a>
      </div>
    </div>
    <!-- AA -->
    <div class="flex items-center flex-col mx-auto md:flex-row">
      <div class="min-w-[14rem] min-h-[14rem] p-3">
        <a
          href="https://www.behance.net/gallery/204805711/The-Real-Housewives-Ultimate-Girls-Trip-South-Africa"
          target="_blank"
        >
          <img
            src="../../assets/projects/Real Housewives Ultimate Girls Trip Sqaure.png"
            class="gray-scale"
            alt="img 1"
          />
        </a>
      </div>
      <div class="box-content min-w-[14rem] min-h-[14rem] p-3 overflow-hidden">
        <a
          href="https://www.behance.net/gallery/90323273/MSL-rebranding-for-SABC"
          target="_blank"
        >
          <img
            src="../../assets/projects/Mzansi Super League Square.png"
            class="gray-scale object-fit"
            alt="img 1"
          />
        </a>
      </div>
    </div>

    <div class="mt-[2.5rem] text-center">
      <a
        href="https://www.behance.net/imaginegreater"
        target="_blank"
        class="uppercase text-[14px] text-[#F26422] bg-[#2B2B2B] px-10 py-3 rounded-full hover:scale-105 hover:text-white transition duration-300 ease-in-out"
      >
        View all
      </a>
    </div>
  </div>
</section>

<div class="px-[3rem] lg:px-0">
  <div class="my-10">
    <app-get-in-touch></app-get-in-touch>
  </div>
  <app-footer></app-footer>
</div>
