<div class="pt-16 pb-10 text-left md:px-[3rem] text-white">
  <h2
    id="ggg"
    class="flex mx-auto px-1 justify-start max-w-[70rem] uppercase font-semibold text-xl"
  >
    Get in touch with us
  </h2>

  <div
    id="icons"
    class="flex space-x-10 px-2 justify-between md:justify-start items-center max-w-[70rem] mx-auto mt-10"
  >
    <a
      href="https://www.behance.net/imaginegreater"
      target="_blank"
      class="hover:scale-125"
      ><img class="h-6" src="../../assets/behance.png" alt="behance"
    /></a>
    <a
      href="https://vimeo.com/imaginegreater"
      target="_blank"
      class="hover:scale-125"
    >
      <img class="h-6" src="../../assets/vimeo.png" alt="vimeo" />
    </a>
    <a
      href="https://www.instagram.com/imaginegreatercc/"
      target="_blank"
      class="hover:scale-125"
    >
      <img class="h-6" src="../../assets/instagram.png" alt="instagram" />
    </a>
    <a
      href="https://za.linkedin.com/company/imaginegreater"
      target="_blank"
      class="hover:scale-125"
    >
      <img class="h-6" src="../../assets/linkedin.png" alt="linkedin" />
    </a>
  </div>

  <div class="flex justify-start items-center max-w-[70rem] mt-16 mx-auto">
    <button
      class="uppercase text-[14px] text-[#F26422] bg-[#2B2B2B] px-10 py-3 rounded-full hover:scale-105 hover:text-white transition duration-300 ease-in-out"
      (click)="navigate()"
    >
      Contact us
    </button>
  </div>
</div>
