<div
  class="flex flex-col items-center justify-center mx-auto mt-[2rem] xl:mt-[3rem]"
>
  <div id="img" class="animate-fadeInUpFaster">
    <img
      src="../../assets/skull.png"
      alt="skull"
      class="relative w-[10rem] md:w-[13rem] lg:w-[16rem]"
    />
  </div>

  <div class="max-w-2xl mt-[1rem]">
    <div class="flex justify-center items-center flex-col">
      <h2
        class="flex justify-start text-white uppercase font-bold text-2xl lg:text-4xl animate-fadeInUpSlower mb-[1rem]"
      >
        Services
      </h2>
      <div
        id="text-01"
        class="text-sm text-center md:text-md px-8 md:px-0 text-white animate-fadeInUpSlower"
      >
        Our range of services are aimed at realising our mission, they span
        across the entire digital media landscape, from print to broadcast. We
        take great pride in producing iconic, yet simple and compelling work
        that captures the audience as much as it satisfies the client
      </div>
    </div>
  </div>
</div>

<div
  class="max-w-[80rem] px-[3rem] mx-auto mt-[3rem] md:my-[5rem] overflow-hidden"
>
  <div id="m-01" class="flex flex-col lg:flex-row justify-center">
    <div class="w-fit mx-6 font-bold text-[4rem] text-white">01</div>
    <div class="w-fit mx-6">
      <div class="flex flex-col">
        <hr
          class="w-[54rem] hidden lg:flex h-1 my-4 bg-gray-100 border-0 rounded"
        />
        <div class="flex flex-col lg:flex-row lg:space-x-28">
          <h2
            class="flex justify-start lg:min-w-[208px] text-white uppercase font-semibold text-xl mb-[1rem]"
          >
            Brand Design
          </h2>

          <div class="text-sm text-left text-white max-w-lg">
            Branding is personality and value creation for a consistent
            experience that resonates with customers and nurtures lasting
            relationships. Whether you’re a new company looking for a logo and
            naming generation, or an established brand intending to refresh your
            positioning or product, we build branding that inspires.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="m-02" class="flex flex-col lg:flex-row justify-center my-[2rem]">
    <div class="w-fit mx-6 font-bold text-[4rem] text-white">02</div>
    <div class="w-fit mx-6">
      <div class="flex flex-col">
        <hr
          class="w-[54rem] hidden lg:flex h-1 my-4 bg-gray-100 border-0 rounded"
        />
        <div class="flex flex-col lg:flex-row lg:space-x-28">
          <h2
            class="flex justify-star flex-col lg:min-w-[208px] text-white uppercase font-semibold text-xl mb-[1rem]"
          >
            <span class="block">Motion Design</span>
          </h2>

          <div class="text-sm text-left text-white max-w-lg">
            Motion is the language of storytelling. We speak it fl uently. Over
            the years we have produced prestigious motion graphics and video
            content that combines design, live action, and VFX for various
            establishments.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="m-03" class="flex flex-col lg:flex-row justify-center my-[2rem]">
    <div class="w-fit mx-6 font-bold text-[4rem] text-white">03</div>
    <div class="w-fit mx-6">
      <div class="flex flex-col">
        <hr
          class="w-[54rem] hidden lg:flex h-1 my-4 bg-gray-100 border-0 rounded"
        />
        <div class="flex flex-col lg:flex-row lg:space-x-28">
          <h2
            class="flex justify-start lg:min-w-[208px] text-white uppercase font-semibold text-xl mb-[1rem]"
          >
            Strategy
          </h2>

          <div class="text-sm text-left text-white max-w-lg">
            We work with businesses and organisations in developing strategic
            plans and creative concepts for impactful brand activations and
            campaigns.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="m-04" class="flex flex-col lg:flex-row justify-center my-[2rem]">
    <div class="w-fit mx-6 font-bold text-[4rem] text-white">04</div>
    <div class="w-fit mx-6">
      <div class="flex flex-col">
        <hr
          class="w-[54rem] hidden lg:flex h-1 my-4 bg-gray-100 border-0 rounded"
        />
        <div class="flex flex-col lg:flex-row lg:space-x-28">
          <h2
            class="flex justify-start lg:min-w-[208px] text-white uppercase font-semibold text-xl mb-[1rem]"
          >
            Digital
          </h2>

          <div class="text-sm text-left text-white max-w-lg">
            We offer tailored digital solutions to help your business grow. We
            create effective digital marketing campaigns that engage your
            audience and drive results.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="m-05" class="flex flex-col lg:flex-row justify-center my-[2rem]">
    <div class="w-fit mx-6 font-bold text-[4rem] text-white">05</div>
    <div class="w-fit mx-6">
      <div class="flex flex-col">
        <hr
          class="w-[54rem] hidden lg:flex h-1 my-4 bg-gray-100 border-0 rounded"
        />
        <div class="flex flex-col lg:flex-row lg:space-x-28">
          <h2
            class="flex justify-start lg:min-w-[208px] text-white uppercase font-semibold text-xl mb-[1rem]"
          >
            Technology
          </h2>

          <div class="text-sm text-left text-white max-w-lg">
            Staying ahead of the curve, IGR is dedicated to exploring and
            embracing the latest advancements in emerging media. Our commitment
            to incorporating the latest technology ensures that our client’s
            digital media strategies are innovative, impactful, and ahead of the
            curve
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <app-get-in-touch></app-get-in-touch>
  </div>
  <app-footer></app-footer>
</div>
