@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

@layer utilities {
  @keyframes shrinkGrow {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(0.8); } /* Shrinks at 50% */
  }
  @keyframes growShrink {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); } /* Grows at 50% */
  }

  .animate-shrinkGrow {
    animation: shrinkGrow 1s ease-in-out forwards;
  }
  
  .animate-growShrink {
    animation: growShrink 1s ease-in-out forwards;
  }
}

.opacity-0 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up {
  opacity: 1;
  transform: translateY(0);
}